.headerImg {
  width: 350px;
  height: auto;
}
main {
  color: white;
}

header {
  background-color: #3acadf;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  opacity: 1;
}

body {
  background: linear-gradient(-45deg, #8a64d6, #729efd, #3acadf, #0cead9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  display: inline;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #5c3a92;
  text-decoration: none;
  font-size: 17px;
}

.navbar img {
  width: 70px;
  border-radius: 50%;
}

.navbar a:hover {
  background-color: whitesmoke;
}
