/* App */

.headerImg {
  height: auto;
  width: 350px;
}

header {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(217, 217, 217, 1);
  border: 1px solid #fffbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  opacity: 1;
}

body {
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #8a64d6, #729efd, #3acadf, #0cead9);
  height: 100vh;
  padding-top: 60px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 700px) {
  .cards-item {
    width: 50%;
  }
}

/* NavBar */

.navbar a {
  float: left;
  font-size: 20px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  /* color: black;  this will overide the 'active' styling below  if set :/ */ 
}

.navbar a:hover {
  color: white;
}

.active {
  color: white;
}

.navbar {
  background-color: #3acadf;
  border: 1px solid #fffbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline;
  height: 60px;
  left: 0;
  opacity: 1;
  position: absolute;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.search {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  border: 2px solid #fff8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  float: right;
  height: 28px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  width: 447px;
}

/* Games */

.game-list {
  margin: 0 auto;
  text-align: center;
}

.game-list li {
  display: inline-block;
  vertical-align: middle;
}

/* GameItem */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  height: 500px;
}

.card img {
  float: left;
  height: 300px;
  object-fit: cover;
  width: 500px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem;
}

.cards-item {
  display: flex;
  padding: 1rem;
  width: 25%;
}

.card--image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.button-save {
  margin: auto;
  border-radius: 8px;
  border: 2px solid #3acadf;
  background-color: #5c3a92;
}

.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.card-text,
.card-detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-detail i {
  text-align: center;
  font-family: sans-serif;
}

.button-container {
  display: inline;
}

.button-save,
.button-edit,
.button-remove {
  background-color: #5C3A92;
  border-radius: 8px;
  border: 2px solid #3ACADF;
  margin: auto;
  transition-duration: 0.4s;
  color: whitesmoke;
  max-width: 30%;
  transition-duration: 0.4s;
}

.button-edit, 
.button-remove {
  margin-left: 15px;
  margin-right: 15px;
}

.button-save:hover
.button-edit:hover 
.button-save:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

/* Developers */

/* DeveloperItem */

.dev-card {
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-card-content {
  background-color: black;
  color: white;
  opacity: 0.75;
}

/* SavedGames */

/* Edit Game */



